.container .stage {
    background: #aaa;
    height: 400px;
    width: 600px;
}

.stage .food-cell {
    border: solid 1px #333;
    clear: both;
    float: left;
    height: 3px;
    position: absolute;
    width: 3px;
}