<template name="actions">
    <div class="actions">
        <h3>Manipulate Me</h3>
        <div class="cell">
            <input type="button" class="remove" value="Remove Viewport Random Cell">
            <input type="button" class="add" value="Add Random Cell to Map">
        </div>
        <div class="player">
            <input type="button" class="increase" value="Increase player size">
            <input type="button" class="decrease" value="Decrease player size">
        </div>
    </div>
</template>